body {
    font-family: 'Work Sans', sans-serif;
    background-color: #F0F1F4;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 562px;
  height: 126px;
  display: flex;
  justify-content: center;
}

.level-up {
  color:#F05F5D;
}

.success {
  color:#1C9D75;
}

.logos {
  display: flex;
  align-items: center;
}

#le-wagon {
  width: 107px;
  height: 27px;
}

#webistry {
  width: 183px;
  height: 14px;
}

.form {
  width: 451px;
  background-color: #FFF;
  border-radius: 24px;
  padding: 36px 32px 40px 36px
}

button {
  width: 387px;
  height: 54px;
  background-color: #F05F5D;
  border-radius: 12px;
  color: #FFF;
  border: none;
  margin-top: 24px;
  width: 100%;
}

input:not(#info),
select {
  border: 2px solid #ECEDF2;
  border-radius: 12px;
  width: 387px;
  height: 44px;
  padding-left: 16px;
}

input::placeholder {
  color: #8E8E90
}

select {
  color: #8E8E90;
  padding-left: 16px;
}

label  {
  color: #1E1F22;
  font-size: 13px;
  font-weight: 600;
  margin-top: 6px;
}

.succeeded {
  padding: 15px 90px;
  background-color: #FFF;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-none {
  display: none;
}
